@charset "utf-8";
/* CSS Document */
 
html,body{
    position:relative;
    height:100%;}
    
body{
    margin:0px;
    padding:0px;
    font-family:montserrat,sans-serif;
    background-color:rgba(241,241,241,1.00);
}
.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.dark-mode {
  background-color: black;
  color: black;

}