@charset "utf-8";
/* CSS Document */
 
html,body{
	position:relative;
	height:100%;}
	
body{
	margin:0px;
	padding:0px;
	font-family:montserrat,sans-serif;
	background-color:rgba(241,241,241,1.00);
}
#myDIV{
	margin: auto;
}
#result{
	color: red;
	text-align: right;
	margin-right: 6px;
	padding-right: 4px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
fieldset{
	margin-bottom:20px;
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
}
h1{
	align-items: center;
	text-align: center;
	justify-content: center;
}
.center{
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
}
.center2{
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
}
.center3{
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
}
.try1{
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
}
.form1{
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	margin-left: auto;
    margin-right: auto;
	border: 1px solid #c3c3c3;
}
.addtocart{
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #c3c3c3;
	display: flex;
}
.button1{
	align-items: center;
	text-align: center;
	justify-content: center;
}
.button2 {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.img-box1{
	border-style: solid;
	margin: auto;
	align-items: center;
}
.button{
	outline: none;
	background-color: green;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
 	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer; 
}
.swiper-slide{
	width:250px !important;
}
.swiper-wrapper{
	display: block;
}		
.slider-box{
	margin:20px;
	height:350px;
	width:250px;
	position:relative;
	background-color:#FFFFFF;
	border-radius:5px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	border:1px solid rgba(187,187,187,0.40);
}
.slider-box a{
	text-decoration:none;
	text-align:center;
}
.img-box{
	height:170px;
}
.img-box img{
	height:auto;
	max-width:100%;
	max-height:100%;
}
.img-box1 img{
	height:auto;
	max-width:200px;
	max-height:200px;
}
.time{
	position:absolute;
	top:0px;
	right:20px;
	color:#f16007;
}
.detail{
	display:flex;
	flex-direction:column;
	align-items:center;
	box-sizing:border-box;
	font-size:13px;
	line-height:35px;
}
.price{
	color:#FFFFFF;
	background-color:#ff555b;
	line-height:20px;
}
.cart{
	position:absolute;
	bottom:0px;
	height:45px;
	background-color:#ff696e;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.cart a{
	color:#FFFFFF;
}
.slider-box:hover{
	box-shadow:2px 2px 12px rgba(47,47,47,0.40);
}
.slider-box:hover .img-box img{
	transform:scale(1.07);
	transition:all ease 0.3s;}
.cart:hover{
	transform:scale(1.1);
	background-color:#fe9048;
	box-shadow:2px 2px 12px rgba(47,47,47,0.40);
	transition:all ease 0.1s;
}
					
.heading{
	display:flex;
	justify-content:center;
}
.heading h1{
	border-left:2px solid #000000;
	border-right:2px solid #000000;
	background-color:#ff696e;
	text-shadow:2px 2px 12px rgba(69,66,66,0.3);
	padding:0px 10px;
	color:#FFFFFF;
	margin:20px;
	font-size:30px;
	font-family:calibri;
}
.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.dark-mode {
  background-color: black;
  color: black;

}